{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.2",
        "targets": {
          "node": "current"
        }
      }
    ],
    ["@babel/preset-typescript"]
  ]
}
